{% form_theme form theme %}

<div id="container-error" class="msg error" style="display:none">
	<a class="close">&times;</a>
	<p>
		<span></span>
	</p>

</div>

<header class="divider">
	<h2>Enter your new password</h2>
</header>

<p>
	<strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing
	elit. Curabitur tristique facilisis mi vel sodales. Vestibulum in orci
	ut neque ultrices.
</p>

<form id="form-reset" action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="post">
	<fieldset class="form">

		<div class="field">
			{{ form_label(form.new.first) }}
			<div class="controls">
				{{ form_widget(form.new.first, { 'attr': {'class': ' input'} }) }}
			</div>
		</div>

		<div class="field">
			{{ form_label(form.new.second) }}
			<div class="controls">
				{{ form_widget(form.new.second, { 'attr': {'class': ' input'} }) }}
			<br/><br/>
			<small><a href="{{ path('fos_user_security_login') }}" title="{{ 'resetting.request.back_to_login'|trans({}, 'NeutronUserBundle') }}">
				{{ 'resetting.request.back_to_login'|trans({}, 'NeutronUserBundle') }}</a></small>
			</div>
		</div>

		<div class="actions">

			<div class="controls">
				<button id="_submit" class="btn action">{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</button>
				<img id="ajax-loader" style="display:none" src="{{ neutron_base_url() }}files/images/ajax-loader.gif" />
			</div>
		</div>

	</fieldset>
</form>
