{% block subject %}{{ 'management.edit_user.mail.subject'|trans({}, 'NeutronUserBundle') }}{% endblock %}

{% block body_html %}

<h3>{{ 'management.edit_user.mail.text'|trans({}, 'NeutronUserBundle') }}</h3>

<p><label>{{ 'form.username'|trans({}, 'NeutronUserBundle') }}</label> {{ user.username }}</p>
{% if plainPassword is not empty %}
    <p><label>{{ 'form.password'|trans({}, 'NeutronUserBundle') }}</label> {{ plainPassword }}</p>
{% endif %}


{% endblock %}